[*.cs]

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = silent

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = silent
